
<section class="home">
    <div class="title">
        <vue-typed-js :strings="['Bienvenidos a,', 'vue.js Lima.']">
            <h1 class="typing"></h1>
        </vue-typed-js>
    </div>
    <main class="container">
        <github>
            <a href="https://github.com/vuejslima/">
                <img src="../../assets/icons/GitHub-Mark-120px-plus.png" alt="Github">
            </a>
        </github>
        <twitter>
            <a href="https://twitter.com/vuejs-lima">
                <img src="../../assets/icons/twitter-logo-silhouette.png" alt="Twitter">
            </a>
        </twitter>
        <meetup>
            <a href="https://www.meetup.com/Vuejs-Lima/">
                <img src="../../assets/icons/meetup.png" alt="Meetup">
            </a>
        </meetup>
        <email>
            <a href="mailto:info@vuejslima.com">
                <img src="../../assets/icons/email.png" alt="Email">
            </a>
        </email>
    </main>
</section>

